<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<head>
	<title>angular js practice</title>

</head>


<body>
	<div ng-app="myapp" ng-controller="personctrl">
		firstname:<input type="text" ng-model='firstname'><br>
		secondname:<input type="text" ng-model='secondname'><br>
		full name: {{fullName()}}


	</div>
	<script>
		var app=angular.module('myapp',[]);
		app.controller('personctrl',function($scope){
			$scope.firstname="raghu"

			$scope.secondname="ram"
			$scope.fullName= function(){
				return $scope.firstname+ ""+$scope.lastname;

			};

		});
	</script>
</body>
</html>